@import '../../variables.scss';

.button {
  border: none;
  background: none;
  padding: 0 $tabs-padding;
  cursor: pointer;
  font-size: 22px;
}

.tabsWrapper {
  display: flex;
  justify-content: end;
  margin-right: -$tabs-padding;
}

.tabItem {
  display: flex;
}

.rightBorder {
  border-right: 1px solid $prime-font-color;
}

.active {
  color: $active-color;
}

.inActive {
  color: $prime-font-color;
  &:hover {
    color: $el-hover-color;
  }
}

