@import '../../../variables.scss';

.priorityWrapper {
  display: flex;
  gap: 32px;
  padding: 8px 0;
  label:hover {
    color: $el-hover-color;
  }

  input {
    appearance: none;
    background-color: $prime-font-color;
    width: 16px;
    height: 16px;
    border-radius: 50%;  
    position: relative;
  }

  input:checked {
    &::before,
    &::after  {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
    }
    &::before {
      background-color: $prime-bg-color;
      width: 8px;
      height: 8px;
    }
    &::after {
      width: 4px;
      height: 4px;
    }
    & + label {
      color: $white;
    }
  
    input:not(:checked):hover + label {
      color: $el-hover-color;
    }
  } 
}

.priorityLabel {
  text-transform: capitalize;
}

.urgentradio:checked,
.urgentradio:checked::after {
  background-color: $urgent-color;
}

.highradio:checked,
.highradio:checked::after {
  background-color: $high-color;
}

.middleradio:checked,
.middleradio:checked::after {
  background-color: $middle-color;
}

.lowradio:checked,
.lowradio:checked::after {
  background-color: $low-color;
}

.priorityHolder {
  display: flex;
  align-items: center;
  gap: 5px;
}

.estimationHolder {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 5px;
  padding: 8px 0;
}

.estimationsInput{
  appearance: none;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  background: url('../../../assets/svg/empty-tomato.svg'); 
  &:hover,
  &:hover ~ input,
  &:checked,
  &:checked ~ input {
    background: url('../../../assets/svg/fill-tomato.svg');
  }
}