@import '../../variables.scss';

.save {
  background-color: $mount-meadow;
  &:hover {
    background-color: $mount-meadow-dark;
  }
  &:active {
    background-color: $deep-sea;
  }
}

.cancel {
  background-color: $tomato;
  &:hover {
    background-color: $dark-coral;
  }
  &:active {
    background-color: $mahogany;
  }
}

.ok {
  background-color: $malibu;
  &:hover {
    background-color: $curious-blue;
  }
  &:active {
    background-color: $pelorous;
  }
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  color: $white;
  font-size: $button-font-size;
  width: 100%;
  height: 72px;
  padding: 0 24px;
  font-weight: 700;
  &:disabled {
    background-color: $disabled-color;
  }
  @media (min-width: $tablet-width) {
    width: auto;
    height: 44px;
    padding: 0 32px;
    font-size: $button-tablet-font-size;
  }
}

$button-font-size: 24px;