@import '../../variables.scss';

.fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 1px solid $lines-color;
  input {
    font-size: 16px;
    color: $prime-font-color;
    padding: 8px 0;
    border: 0;
    background-color: transparent;
    margin: 0;
  }

  input[type=text]{
    width: 100%;
  }
  
  input[type=color]{
    padding: 0;
    height: 60px;
    cursor: pointer;
  }

  input[type=radio]{
    cursor: pointer;
  }
  
  input[type=date] {
    position: relative;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
  }
  
  label {
    cursor: pointer;
  }
}

.legend {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
}

.err {
  color: red;
  font-size: 9px;
  position: absolute;
  bottom: -15px;
  text-transform: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  appearance: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px $prime-bg-color inset;
    -webkit-text-fill-color: $prime-font-color !important;
}

::-webkit-calendar-picker-indicator { 
  background: transparent;
  position: absolute;
  width: 100%;
  cursor: pointer;
}
