@import './variables.scss';

a {
  color: $white;
  &:visited {
    color: $white;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

p {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
}

.container {
  height: 100%;
  padding: 0 $padding-mobile;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  @media (min-width: $tablet-width) {
    padding: 0 $padding-tablet;
  }
  @media (min-width: $desktop-width) {
    padding: 0 $padding-desktop;
    max-width: 1440px;
  }
}


.main {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.buttonsHolder {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.legend {
  font-size: 28px;
  font-weight: 700;
  color: $white;
  text-align: center;
  margin-bottom: 30px;
}

.customFieldset {
  border: none;
  padding: 0;
  margin-bottom: 30px;
}

.customForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 520px;
  padding: 0 $padding-mobile;
}

.loader {
  justify-content: center;
  align-items: center;
}

