@import './variables.scss';

a {
  color: $white;
  &:visited {
    color: $white;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

h1, h2 {
  margin: 0;
}

.container {
  height: 100%;
  padding: 0 $padding-mobile;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  @media (min-width: $tablet-width) {
    padding: 0 $padding-tablet;
  }
  @media (min-width: $desktop-width) {
    padding: 0 $padding-desktop;
    max-width: 1440px;
  }
}

.subtitle {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 22px;
  }
}

.buttonsHolder {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.legend {
  font-size: 28px;
  font-weight: 700;
  color: $white;
  text-align: center;
  margin-bottom: 30px;
}

.customFieldset {
  border: none;
  padding: 0;
  margin-bottom: 30px;
}

.customForm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  max-width: 520px;
  padding: 0 $padding-mobile;
}

.loader {
  justify-content: center;
  align-items: center;
}

@keyframes show-modal-content {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  overflow-y: scroll;
  &.entering {
    animation: show-modal 0.5s forwards;
  }
  &.exiting {
    animation: show-modal 0.5s reverse;
  }
  @media (min-width: $tablet-width) {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modalContent {
  min-height: 100%;
  width: 100%;
  background-color: $prime-bg-color;
  padding: 48px 96px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
  }
  &.entering {
    animation: show-modal-content 0.5s forwards;
  }
  &.exiting {
    animation: show-modal-content 0.5s reverse;
  }
  @media (min-width: $tablet-width) {
    min-height: 350px;
    max-width: 520px;
    padding: 40px 48px;
  }
}

.ModalButtonsHolder {
  display: none;
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: end;
    position: absolute;
    gap: 16px;
    top: 20px;
    right: 20px;
  }
}

.phoneButtonsHolder {
  display: flex;
  gap: 20px;
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.modalButton {
  background: none;
  border: none;
  font-size: 32px;
  color: $prime-font-color;
  padding: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    color: $el-hover-color;
  }
  &:disabled {
    color: $gray;
  }
  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.modalTitle {
  color: $white;
  text-align: center;
  font-size: 28px;
  text-transform: capitalize;
}
