// ----- colors  -----
$madison: #2A3F50;
$nepal: #8DA5B8;
$silver: #C8C8C8;
$white: #FFF;
$spray: #82C7E0;
$gray: #7F7F7F;
$dark-gray: #9F9F9F;
$mount-meadow: #1ABC9C;
$mount-meadow-dark: #16A085;
$deep-sea: #0E8C74;
$tomato: #F75C4C;
$dark-coral: #C94D47;
$mahogany: #BC3535;
$malibu: #59ABE3;
$curious-blue: #368BC5;
$pelorous: #2380B5;
$yellow-orange: #FFA841;
$carrot-orange: #F08E19;
$gorse: #FDDC43;
$moon-yellow: #E8BD0A;
$selective-yellow: #FFB200;
$tangerine: #DD8F05;
$amethyst: #B470D0;
$deep-lilac: #9849B8;
$terra-cotta: #E16C65;
$chestnut: #B74E4B;
$dark-turquoise: #00D4D9;
$persian-green: #04A5A5;

// main colors
$prime-bg-color: $madison;
$prime-font-color: $nepal;
$el-hover-color: $spray;
$title-font-color: $white;
$active-color: $white;
$lines-color: #425869;
$disabled-color: $dark-gray;

$tablet-width: 768px;
$desktop-width: 1024px;

$tabs-padding: 16px;

// buttons colors
// $save-button: $mount-meadow, $mount-meadow-dark, $deep-sea;
// $ok-button: $malibu, $curious-blue, $pelorous;
// $cancel-button: $tomato, $dark-coral, $mahogany;

// categories-colors
// $work-colors: $selective-yellow, $tangerine;
// $education-colors: $malibu, $curious-blue;
// $hobby-colors: $amethyst, $deep-lilac;
// $sport-colors: $terra-cotta, $chestnut;
// $other-colors: $dark-turquoise, $persian-green;

//priority colors
// $urgent-colors: $tomato, $dark-coral;
// $hight-colors: $yellow-orange, $carrot-orange;
// $middle-colors: $gorse, $moon-yellow;
// $low-colors: $mount-meadow, $mount-meadow-dark;

// fonts
// $prime-font: "Roboto";
// $secondary-font: "PTSans-Regular";
