@import './../../../variables.scss';

.svgPom {
  width: 200px;
  height: 200px;
  @media (min-width: $tablet-width) {
    width: 160px;
    height: 160px;
  }
}

.banner {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bannerHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  gap: 65px;
}

.bannerText {
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}