@import '../../../variables.scss';

.settingsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
}

.categoryNameInput {
  background: none;
  border: none;
  border-bottom: 1px solid $lines-color;
  color: $prime-font-color;
}

.colorLabel {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
}
