@import '../../../variables.scss';

.categItem {
  font-size: 22px;
  padding-bottom: 12px;
  border-bottom: 1px solid $lines-color;
  margin-bottom: 25px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    left: -36px;
    top: 0;
    transform: translateY(50%);
    @media (min-width: $tablet-width) {
      top: -4px;
    }
  }
  @media (min-width: $tablet-width) {
    font-size: 16px;
    padding-bottom: 8px;
  }
}

.categList {
  margin: 0 auto;
  max-width: 516px;
  width: 100%;
  padding-left: 50px;
}

.settingsContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 64px;
}
