@import '../../variables.scss';

.tabsHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addTaskButton {
  display: flex;
  align-items: center;
  border: 1px solid $prime-font-color;
  background: none;
  color: $prime-font-color;
  font-size: 22px;
  cursor: pointer;
  padding: 5px;
  &:hover {
    color: $el-hover-color;
    border: 1px solid $el-hover-color;
  }
}

.plus {
  padding: 0 5px;
  font-size: 20px;
}